@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-code: "Source Code Pro", monospace;
    --color-1: #AC6AFF;
    --color-stroke-1: #26242C;
}

@layer components {
    .button {
        @apply font-code text-xs font-bold uppercase tracking-wider;
    }
}

@layer utilities {
    .text-color {
        @apply font-code;
    }
}